* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: black;
    height: 500px;
}
.logo > img {
    width: 100px;
}
nav {
    padding: 20px 0 40px 0;
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex: 1;
    align-items: center;
    margin: 0 30px 0 70px;
    height: 40px;
}
.register {
    /* margin-left: 10%; */
    padding: 5px 20px;
    border-radius: 15px;
    background-color: rgb(37, 36, 36);
}
.nav-items > a, aside > a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}
.hamburger {
    display: none;
}
.hero {
    background-color: white;
    height: 470px;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 60px 7%;
    position: relative;
    z-index: 2;
}
.hero > img {
    height: 350px;
}
.hero-text {
    flex: 1;
    position: relative;
}
.register-button {
    text-decoration: none;
    color: white;
    background-color: #F46632;
    padding: 10px 3.5vw;
    border-radius: 7px;
    font-weight: 700;
    font-size: 0.9em;
}
.p-text {
    font-weight: 400;
    font-size: 1.1vw;
    margin: 40px 0;
    width: 75%;
    line-height: 3vw;
}
.hero-text > h1 {
    font-weight: 900;
    font-size: 2.5vw;
    margin: 2vw 0;
}
.hero-text > h2 {
    font-weight: 500;
    font-size: 1.8vw;
    color: rgb(78, 78, 78);
}
.about-us {
    background-color: rgb(235, 229, 229);
    height: 140vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.fade {
    position: absolute;
    top: 35px;
    left: -4px;
    letter-spacing: 1.2vw;
    font-weight: 900;
    font-size: 8vw;
    background: -webkit-linear-gradient(#fff, rgb(230, 227, 227));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
aside {
    display: none;
}
.about-us-text {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 75%;
    margin: 300px auto 50px auto;
    border-radius: 20px;
    padding: 60px 7%;
    position: relative;
}
.fade-about-us {
    position: absolute;
    left: 48vw;
    top: 40px;
    font-weight: 900;
    font-size: 5vw;
    background: -webkit-linear-gradient(#fff, rgb(230, 227, 227));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}
.about-us-text-top > h1 {
    align-self: start;
    font-size: 1.5vw;
    margin: 1vw 0 0 45vw;
    position: relative;
    z-index: 2;
}
.about-us-text > .p-text {
    font-weight: 400;
    font-size: 1vw;
    margin: 90px 0;
    width: 100%;
    line-height: 2.5vw;
}
.about-us-text-top {
    display: flex;
}
.about-us-text-top img {
    width: 50%;
    position: absolute;
    top: -130px;
}
.course-experience-text {
    background-color: white;
    height: 70vh;
    width: 75%;
    margin: 75px auto;
    border-radius: 20px;
    padding: 60px 7%;
    position: relative;
}
.fade-course-experience {
    position: absolute;
    left: 24vw;
    top: 40px;
    font-weight: 900;
    font-size: 5vw;
    background: -webkit-linear-gradient(#fff, rgb(230, 227, 227));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}
.course-experience-text > h1 {
    font-size: 1.5vw;
    margin: 1vw 0 0 22.5vw;
    position: relative;
    z-index: 2;
}
.course-experience-top {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px auto 0;
}
.course-experience-top > p {
    padding: 10px 0;
    text-align: center;
    flex: 1;
    font-size: small;
    border-right: 1px solid black;
}
.course-experience-top > .selected {
    color: white;
    background-color: black;
}
.course-experience-bottom .p-text {
    font-weight: 400;
    margin-bottom: -40px;
    margin-left: 50px;
    font-size: 1vw;
    width: 90%;
    line-height: 2.5vw;
}
.course-experience-bottom {
    display: flex;
    width: 100%;
}
.course-experience-bottom img {
    width: 25%;
    margin-top: 60px;
}
.sessions {
    background-color: rgb(250, 248, 248);
    top: 140vh;
    position: relative;
    height: 425vh;
    width: 100%;
    padding-top: 300px;
    /* z-index: -1; */
}
.sessions-text {
    background-color: transparent;
    height: 70vh;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
}
.fade-sessions {
    position: absolute;
    top: 45px;
    left: 27vw;
    font-weight: 900;
    font-size: 5vw;
    background: -webkit-linear-gradient(#fff, rgb(230, 227, 227));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title {
    margin: 20px 0 120px 0;
}
.title > h1 {
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    z-index: 1;
}
.session-list-top-item {
    display: flex;
    align-items: center;
}
.session-list-top-item img {
    margin-right: 10px;
    width: 20px;
}
.session-list-top-item p {
    font-size: 0.9vw;
}
.last-item {
    margin-right: 25%;
}
.session-list-top {
    display: flex;
    padding: 5px;
    background-color: rgba(184, 178, 178, 0.295);
    border-left: 3px solid black;
}
.session-list-top h3 {
    flex: 1;
    padding-left: 30px;
}
.session-list-top-items {
    display: flex;
    flex: 4;
    justify-content: space-evenly;
    border: 1px;
}
.one-session {
    width: 100%;
}
.session-list-bottom {
    display: flex;
    justify-content: space-evenly;
    border-left: 3px solid rgb(228, 222, 222);
}
.session-list-bottom-text p {
    font-size: 1vw;
}
.session-list-bottom-text {
    flex: 4;
    padding: 35px 90px 35px 65px;
    line-height: 25px;
}
.session-list-bottom-img {
    flex: 1;
    padding: 45px 35px;
}
.session-list-bottom-img img {
    width: 60px;
    margin-right: 10px;
}
.masters {
    background-color: white;
    height: 650px;
    width: 100%;
    margin: 100px auto;
    border-radius: 20px;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}
.masters .title > h1 {
    font-size: 1.5vw;
    text-align: center;
    z-index: 1;
}
.masters-items {
    display: flex;
    margin-top: -100px;
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.masters-item {
    padding: 20px 10px;
}
.masters-item img {
    width: 140px;
}
.masters-item p {
    font-size: 12px;
    margin-top: 7px;
}
.masters-item h5 {
    margin-top: 7px;
}
.course-fee-section {
    background-color: #EBE5E5;
    top: 140vh;
    position: relative;
    height: 425vh;
    width: 100%;
    padding-top: 300px;
    /* z-index: -2; */
}
.course-fee {
    background-color: white;
    height: 500px;
    width: 75%;
    margin: 150px auto;
    border-radius: 20px;
    padding: 60px 0;
    position: relative;
}
.course-fee-bottom {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: -50px auto;
}
.course-fee-bottom-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
    width: 350px;
    height: 200px;
}
.course-fee-bottom-register h4 {
    text-decoration: line-through;
}
.course-fee-bottom-register p {
    font-size: 1vw;
}
.list-item {
    display: flex;
    align-items: center;
}
.course-fee-bottom-text .list-item p {
    font-size: 1vw;
    margin-top: 16px;
}
.course-fee-bottom-text .list-item img {
    margin: 18px 15px 0 0;
    height: 20px;
}
.course-fee > p {
    font-size: 0.9vw;
    color: rgba(151, 150, 150, 0.637);
    text-align: center;
    margin-top: 120px;
}
.register-email {
    background-color: black;
    color: white;
    display: flex;
    padding: 0 6% 0 10%;
    height: 400px;
    position: relative;
}
.register-email-text {
    flex: 1;
    margin: auto 0;
}
.register-email-text h2 {
    margin-bottom: 20px;
    font-size: 20px;
}
.register-email-text p {
    font-size: 13px;
}
.list-item img {
    height: 20px;
    margin-right: 5px;
}
.register-email-text input {
    margin: 20px 0;
    color: white;
    width: 30vw;
    padding: 9px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(32, 32, 32);
}
.register-email-images {
    flex: 1;
}
.register-email-images .main {
    height: 150px;
    top: 120px;
    position: absolute;
    right: 17%;
}
.register-email-images .background {
    height: 400px;
    padding-left: 200px;
}


/* media queries */
@media(max-width:1140px) {
    .hamburger {
        background-color: #fff;
        height: 30px;
        width: 30px;
        display: block;
        margin-left: 10px;
        cursor: pointer;
        margin-left: auto;
    }
    .nav-items {
        margin: 0 10px 0 70px;
    }
    .nav-item {
        display: none;
    }
    .aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        height: 85vh;
        width: 250px;
        background-color: rgba(65, 65, 66, 0.692);
        z-index: 2;
        justify-content: space-evenly;
    }
    .aside-item {
        height: 7vh;
        font-size: 2.5vh;
        border-bottom: 1px solid rgb(80, 79, 78);
    }
}

@media(max-width:1018px) {
    .hero > img {
        height: 300px;
    }
    .p-text {
        font-size: 0.8rem;
        margin: 50px 0;
        line-height: 3vw;
    }
    .hero {
        height: 470px;
    }
    .nav-item {
        display: none;
    }
    
}

@media(max-width:828px) {
    .p-text {
        font-size: 1rem;
        margin: 50px 0;
        line-height: 1.5rem;
    }
    .hero > img {
        display: none;
    }
    .hero-text {
        margin: 0 5%;
    }
    .hero-text > h1 {
        font-weight: 900;
        font-size: 5vw;
        margin: 2vw 0;
    }
    .hero-text > h2 {
        font-weight: 500;
        font-size: 4vw;
        color: rgb(78, 78, 78);
    }
    .fade {
        font-size: 18vw;
    }
}


